body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

/* Contact Form */
form {
  display: flex;
  flex-direction: column;
  min-width: 20%;
  max-width: 20%;
  margin: 2% auto 9% auto;
}

#full-name,
#email {
  padding: 1.5%;
}

label {
  margin: 5% 0 1% 0;
}

#submit-button {
  margin-top: 1%;
}
