main {
  height: 100vh;
}

/* Contact Form */
#contact-form {
  display: flex;
  flex-direction: column;
  min-width: 18rem;
  max-width: 25rem;
  margin: 2rem auto 0 auto;
  text-align: left;
}

#full-name,
#email,
#message {
  padding: 0.5rem;
  border: none;
  font-family: "Quicksand", sans-serif;
}

label {
  margin: 5% 0 1% 0;
}

#send-button {
  margin-top: 0.6rem;
  padding: 0.4rem;
  border: none;
  transition: background-color 0.2s ease-in-out;
}

#send-button:hover {
  background-color: var(--light-gray);
  cursor: pointer;
}

/* Media Queries */
@media screen and (max-width: 440px) {
  form {
    margin: 2% 4% 8% 4%;
  }
}
