/* Contact Form */
form {
  display: flex;
  flex-direction: column;
  min-width: 18rem;
  max-width: 25rem;
  margin: 1rem auto 4rem auto;
}

#full-name,
#email {
  padding: 0.5rem;
}

label {
  margin: 5% 0 1% 0;
}

#submit-button {
  margin-top: 0.6rem;
  padding: 0.4rem;
  border: none;
  transition: background-color 0.2s ease-in-out;
}

#submit-button:hover {
  background-color: var(--light-gray);
  cursor: pointer;
}

/* Media Queries */
@media screen and (max-width: 440px) {
  form {
    margin: 2% 4% 8% 4%;
  }
}
