main {
  height: 100vh;
}

/* Hero Section */
#hero-section {
  font-family: "Oswald", sans-serif;
  text-align: center;
}

#hero-heading {
  font-size: 6rem;
  padding-top: 12rem;
  margin: 0;
}

#hero-subheading {
  font-size: 2rem;
  margin: 0 0 6rem 0;
}
