.main-heading {
  margin-bottom: 0;
}

.secondary-heading {
  margin: 0 0 8px 0;
}

#about-me-section {
  margin: 55px 0 30px 0;
}

#about-me-text {
  width: 20%;
  margin: auto;
  display: block;
  justify-content: center;
  align-items: center;
}

#projects-gallery {
  display: flex;
  justify-content: center;
}

.project-image {
  width: 30%;
}
