body {
  margin: 0;
  background-color: rgb(26, 24, 24);
  font-family: "Quicksand", sans-serif;
  color: white;
}

/* Fonts */
h1,
h2 {
  font-family: "Oswald", sans-serif;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.875rem;
}

/* Header Navigation */
header {
  background-color: black;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 16px;
  justify-content: center;
}

nav li {
  list-style: none;
  margin: 0 10px 0 10px;
  font-size: 1.3rem;
}

/* Footer Navigation */
footer {
  background-color: black;
}

footer ul {
  display: flex;
  padding: 8px;
  justify-content: space-between;
}

footer li {
  list-style: none;
  margin: 0 20px 0 20px;
}

/* Links */
a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(151, 151, 151);
}
