/* General */
html {
  --black: black;
  --white: white;
  --headerGray: #555555;
  --bg-gradient-dark: linear-gradient(300deg, #000000, #302d2dfd);
  --bg-gradient-light: linear-gradient(300deg, #ffffff, #c2b9b92f);
  --hoverGray: #bdbdbd;
  --inputBgGray: #b1b1b1;
  --inputBgGrayHover: #979797;
}

body {
  background: var(--bg-gradient-dark);
  margin: 0;
  font-family: "Quicksand", sans-serif;
  color: var(--white);
}

.light-mode {
  background: var(--bg-gradient-light);
  color: var(--black);
}

.light-mode-navigation {
  background: var(--headerGray);
}

/* Text */
.section-heading {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  margin: 4rem 0 0 0;
  text-align: center;
  text-wrap: nowrap;
}

.info-paragraph {
  min-width: 10rem;
  max-width: 30rem;
  margin: 0.2rem auto 1rem auto;
  padding: 0 1rem 1rem 1rem;
}

/* Header Navigation */
header {
  background-color: var(--black);
  font-family: "Oswald", sans-serif;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 1rem;
  align-items: center;
}

nav li {
  list-style: none;
  margin: 0 0.5rem 0 0.5rem;
  text-wrap: nowrap;
}

nav li:hover {
  animation-name: grow;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

#logo {
  margin-right: auto;
}

#theme-button {
  background-color: var(--white);
  cursor: pointer;
  padding: 0.35rem;
  border-radius: 30%;
  border: none;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

/* Footer Navigation */
footer {
  background-color: var(--black);
  margin: 1rem 0 0 0;
}

footer ul {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem;
  margin: 0;
  text-wrap: nowrap;
}

footer li {
  list-style: none;
}

/* Links */
a {
  text-decoration: none;
  color: var(--white);
}

a:hover {
  color: var(--hoverGray);
}

/* Animations */
@keyframes grow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}

/* Media Queries */
/* Header */
@media screen and (max-width: 356px) {
  #logo {
    margin-right: 0.5rem;
  }
  nav ul {
    justify-content: center;
  }
  nav li {
    font-size: 1rem;
    margin: 0 0.4rem 0 0.4rem;
  }
}

@media screen and (min-width: 421px) {
  nav li {
    font-size: 1.3rem;
  }
}

/* Info paragraphs */
@media screen and (max-width: 400px) {
  .section-heading {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 590px) {
  .section-heading {
    font-size: 2rem;
  }
}

/* Footer */
@media screen and (max-width: 540px) {
  footer ul {
    flex-direction: column;
    text-align: center;
  }
  footer li {
    margin: 0.3rem 0 0.3rem 0;
  }
}
