body {
  margin: 0;
  background-color: rgb(26, 24, 24);
  font-family: "Quicksand", sans-serif;
  color: white;
}

/* FONTS */
h1,
h2 {
  font-family: "Oswald", sans-serif;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.875rem;
}

/* HEADER */
header {
  display: flex;
  justify-content: right;
}

nav ul {
  display: flex;
  margin: 10px 25px 0 0;
}

nav li {
  list-style: none;
  margin: 0 -10px 6px 30px;
  font-size: 1.3rem;
  text-align: center;
}

a {
  text-decoration: none;
  text-align: center;
  color: white;
}

a:hover {
  color: gray;
}
