body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  margin: 0;
}

#work-gallery {
  display: grid;
  margin-top: 3%;
  margin-bottom: 0;
  gap: 1%;
}

figure {
  margin: 0 0 2% 0;
}

img {
  grid-area: img;
  width: 100%;
  height: 90%;
  object-fit: cover;
  transition: opacity 0.4s ease;
}

img:hover {
  opacity: 0.6;
}

figcaption {
  text-align: center;
  margin-top: 0.5%;
}

footer {
  grid-area: footer;
}

/*Media Queries*/
@media screen and (max-width: 320px) {
  #work-gallery {
    grid-template-areas:
      "img"
      "img"
      "img"
      "img"
      "img"
      "img";
  }
}

@media screen and (min-width: 800px) {
  #work-gallery {
    grid-template-areas:
      "img img"
      "img img"
      "img img";
  }
}

@media screen and (min-width: 1800px) {
  #work-gallery {
    grid-template-areas:
      "img img img"
      "img img img";
  }
}
