/* Work Gallery */
#work-gallery {
  display: grid;
  gap: 1rem;
  margin: 2.5rem 1rem 4rem 1rem;
}

figure {
  margin: 0 0 2% 0;
}

img {
  grid-area: img;
  width: 100%;
  height: 90%;
  object-fit: cover;
  border-radius: 2rem;
  border: 0.15rem solid var(--backgroundGray);
}

img:hover {
  animation-name: grow-and-dim;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

figcaption {
  text-align: center;
  margin-top: 0.5%;
}

/* Animations */
@keyframes grow-and-dim {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.012);
    opacity: 0.6;
  }
}

/* Media Queries */
@media screen and (min-width: 800px) {
  #work-gallery {
    grid-template-areas:
      "img img"
      "img img"
      "img img";
  }
}

@media screen and (min-width: 1600px) {
  #work-gallery {
    grid-template-areas:
      "img img img"
      "img img img";
  }
}
