body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

#work-detail-gallery {
  display: grid;
  gap: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
}

figure {
  margin: 0;
}

img {
  grid-area: img;
  width: 100%;
}

figcaption {
  text-align: center;
}

footer {
  grid-area: footer;
}

@media screen and (min-width: 0px) {
  #work-detail-gallery {
    grid-template-areas:
      "img"
      "img";
  }
}

@media screen and (min-width: 460px) {
  #work-detail-gallery {
    grid-template-areas:
      "img img"
      "img img";
  }
}
