/* Work Detail Gallery */
#work-detail-gallery {
  display: grid;
  margin: 2rem;
}

figure {
  margin: 0;
}

img {
  grid-area: img;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 0.15rem solid var(--black);
}

/* Media Queries */
@media screen and (min-width: 800px) {
  #work-detail-gallery {
    grid-template-areas:
      "img img"
      "img img";
  }
}
