body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
  background-color: rgb(0, 0, 0);
}

main {
  grid-area: main;
  margin: 0 35px 0 35px;
}

#work-gallery {
  display: grid;
}

figure {
  grid-area: img;
  height: 85%;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 4%;
}

figcaption {
  text-align: center;
}

footer {
  grid-area: footer;
  background-color: rgb(14, 13, 13);
}

/*Media Queries*/
@media screen and (min-width: 900px) {
  #work-gallery {
    grid-template-areas:
      "img img"
      "img img"
      "img img";
  }
}

@media screen and (min-width: 1300px) {
  #work-gallery {
    grid-template-areas:
      "img img img"
      "img img img";
  }
}
